#my_id{color:green;background:yellow;}
input{padding:5px;}
#peer_video{width:50%;height:75%;max-height:500px;margin-right:0;float:left;background:#eee;}
#my_video{width:50%;height:75%;max-height:500px;margin-left:0;background:#eee;}
